div.main-content{
    display: flex;
    flex-direction: row;
}

nav.navbar{
    background-color: cadetblue;
    margin-right: 10px;
    margin-left: 5px;
    position:fixed;
    display: flex;
    flex-direction: column;
    left:0;
    overflow: scroll;
    height:max-content;
    margin-right: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
    width: fit-content;
    z-index:1;
    vertical-align:middle;
    margin-left: 0;
}

main.main-doc{
    text-align: justify;
    /* border-width: 100px; */
    margin-left: 80px;

}

nav.navbar header{
    font-size: x-large;
    margin-bottom: 10px;
    color:black;
    margin-top: 10%;
}

nav.navbar a{
    box-sizing: border-box;
    margin: 10px;
    color: white;
    text-decoration: wavy;
    text-shadow: 1px;
    font-size: large;
    position:static;

}

main.main-doc section header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: darkolivegreen;

}

main.main-doc section p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}

div.main-title{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 1%;
    margin-top: 0px;
    color: rgb(1, 91, 45);
    box-sizing: border-box;
    position: inherit;
    width: 100%;
}



nav.navbar a:hover{
    color:skyblue;
    font-weight: bold;
}

hr{
    color: aqua;
}

table, th, td{
   border: 1px solid;
   border-collapse: collapse;
}

canvas#mycanvas{
    width: 100px;
    height: 80px;
    background-color: rebeccapurple;
    border: 10px inset brown;
}

@media only screen and (max-width: 600px) {
  body {
    margin-top: 10%;
    background-color: rgb(207, 236, 238);
  }

  div.main-title{
    font-size: small;
  }

  main.main-doc section header{
    font-size: large;
  }

  main.main-doc section p{
    font-size: small;
    
  }

  nav.navbar a{
    font-size: small;
  }

  nav.navbar header{
    font-size: medium;
    font-weight: bold;
    padding-right: 10px;
    margin-top: 15%;
  }


  main.main-doc{
    margin-left: 5%;

  }

  nav.navbar{
    /* flex-direction: row;
    overflow: scroll;
    left: 0;
    top:0;
    width:100%;
    margin-top: 0;
    margin-left: 0;
    padding-top: 2%; */

    left: 0;
    top:0;
    margin-top: 0;
    margin-left: 0;
    height: 100%;    
  }

  div.main-title h1{
    margin-top: 5%;
    margin-left: 5%;
    text-align: center;
    /* padding-top: 5%; */
    font-size: 22px;
  }

  div.main-content{
    margin-right: 5%;
    margin-left:calc(10%);
  }
  

}

